:root{
    --white: rgba(255, 255, 255, 0.904);
    --blue: #3757d5;
    --grey: rgb(112, 112, 112);
    --orange: #f37722;
    --navy-blue: #1f3e72;
    --gold: #ffd012;
    --gold-soft: #fffbed;
    --cool-blue: #3454d2;
    --cool-blue-soft: #c1d3fa;
    --grad-right: #3661da;
    --grad-left: #0998e6;
}
body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
}
.navbar{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--white);
    width: 100%;
    top: 0;
    right: 0;
    z-index: 2;
    position: fixed;
}
.navbar-menu ul{
    display: flex;
    padding-right: 70px;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    font-size: 1rem;
}
.menu-item{
    margin: 20px;
}
.menu-item a{
    color: var(--grey);
}
.menu-btn{
    margin:10px;
}
.btn-navbar{
    padding: 1.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 3px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.VaccineLogo{
    width: 4rem;
    padding: 20px;
}

.land-msg{
    font-weight: bold;
    font-size: 3.5rem;
    color: var(--navy-blue);
}
.land-pgph{
    text-align: left;
    color: var(--grey);
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem;
    line-height: 48px;
}
.land-pgph::after{
    content: "\a";
    white-space: pre;
}
.landing-page{
    display: flex;
    width: 100%;
    justify-content: space-between;
    right: 0;
    left: 0;
    top: 0;
    position: relative;
    height: 100%;
}
.Doctor{
    bottom: 0;
    padding-top: 5rem;
    height: 518px;
    position: absolute;
    width: 95%;
}
.landing-left{
    width: 50%;
    padding-top: 3.5rem;
    padding-left: 4rem;
    align-items: center;
    justify-content: center;
    margin-right: 13rem;
} 
.lf-second::before{
    content: "\a";
    white-space: pre;
}
.landing-right{
    width: 50%;
    background-color: var(--cool-blue);
    justify-content: center;
    position: relative;
    height: 100%;
}
.lp-left-msg{
    display: flex;
    top: 27rem;
    position: absolute;
}
.lp-left-msg div{
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}
.lp-left-msg div i{
    padding: 0.5rem;
    color: var(--gold);
    background-color: var(--gold-soft);
    border-radius: 3px;
}
.lp-left-msg div p{
    padding: left 0.2rem;
    font-weight: bold;
}
.lp-left-msg-u{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}
.lp-left-msg-u i{
    padding: 0.5rem;
    color: var(--blue);
    background-color: var(--cool-blue-soft);
    border-radius: 3px;
}
.lp-left-msg-u p{
    padding-left: 0.5rem;
    color: #1f3e72;
    font-size: 18px;
    font-weight: bold;
}
.lp-schedule-box{
    display: flex;
    width: 75%;   
    align-items: center;
    left: 5%;
    position: absolute;
    justify-content: space-around; 
    box-shadow: 1px 1px 5px var(--cool-blue); 
    border-radius: 4px;
    z-index: 1;
    top: 36rem;
    background-color: var(--white);
    font-size: 1rem;
}
.city{
    font-weight: bold;
    color: var(--navy-blue);
}
.schedule div{
    display: flex;
    align-items: center;
}
.schedule div i{
    padding: 0.5rem;
    color: var(--blue);
    background-color: var(--cool-blue-soft);
    border-radius: 3px;
}
.schedule div p{
    padding-left: 0.5rem;
    color: var(--grey);
    font-size: 1.3rem;
    font-weight: bold;
}
.landing-page-good{
    flex-direction: column;
    height: 100vh;
}
.logos{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10rem;
}
.logos img{
    width: 15rem;
    filter: grayscale(100%);
    opacity: 40%;
    padding-left: 5rem;
    margin: 1.5rem;
}
.why-should{
    width: 50%;
    padding-top: 5rem;
    padding-right: 4rem;
    padding-left: 8rem;
    align-items: center;
    justify-content: center;
    margin-right: 13rem;
}
.why-should span::after{
    content: "\a";
    white-space: pre;
}
.why-should-title{
    font-size: 3rem;
    color: var(--navy-blue);
}
.why-should p{
    text-align: left;
    color: var(--grey);
    font-weight: bold;
    font-size: 1.1rem;
    padding: 1rem;
    line-height: 48px;
}
.four-groups{
padding-top: 1rem;
display: flex;
align-items: center;
justify-content: center;
width: 100%;
}
.lil-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    border-radius: 3px;
    margin: 3rem;
    width: 25rem;
    height: 20rem;
    box-shadow: 1px 13px 36px -7px var(--navy-blue); 
    border-radius: 1rem;
}

.lil-group h3{
    color: #1f3e72;
    font-size: 1.5rem;
}
.lil-group i{
    padding: 0.5rem;
    color: var(--blue);
    background-color: var(--cool-blue-soft);
    border-radius: 3px;
}
.lil-group p {
    padding-bottom: 5rem;
    color: var(--grey);
    font-size: 1rem;
    line-height: 2rem;
}
.preparations1{
    display: flex;
    flex-direction: row;
    z-index: 0;
    width: 50%;
}
.preparations2{
    width: 45%;
    padding-top: 4rem;
    padding-right: 1rem;
    padding-left: 4rem;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
}
.blank{
    width: 60%;
    height: 470.4px;
    background-color: white;
}
.landing-page2{
    display: flex;
    flex-direction: row;
}
.Doctor2{
    height: 965px;
    position: absolute;
    width:35%;
    z-index: 1;
    top: 125.6rem;
    left: 12rem;
}
.landing-left2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    left: 10rem;
    position: relative;
    margin: 0.5rem;
}
.landing-right2{
    width: 50%;
    height: 700px;
    background-color: var(--grad-left);
    justify-content: center;
    position: relative;
}
.land-msg2{
    font-weight: bold;
    font-size: 3rem;
    color: var(--navy-blue);
}
.land-pgph2{
    text-align: left;
    color: var(--grey);
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 48px;
}
/* aquí empieza el lst-msg-dp */
.lst-msg-dp{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 1px 1px 5px var(--cool-blue); 
    border-radius: 4px;
    padding: 1rem;
    width: 25rem;
}
.lst-msg-dp i {
    padding: 0.5rem;
    color: var(--blue);
    background-color: var(--cool-blue-soft);
    border-radius: 3px;
}
.lst-msg-dp h3{
    padding-left: 0.5rem;
    color: #1f3e72;
    font-size: 1.5rem;
    font-weight: bold;
}
.fa-square-caret-down{
    position: absolute;
    right: 0px;
    cursor: pointer;
}
.avoid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 5px var(--cool-blue); 
    border-radius: 4px;
}
.avoid-msg::after{
    content: "\a";
    white-space: pre;
}
.avoid-msg{
    position: relative;
    left: 1rem;
    font-size: 1rem;
    color: var(--grey);
}

.lst-msg-dp2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0.5rem;
    padding: 1rem;
    width: 25rem;
}
.lst-msg-dp2 h3{
    padding-left: 0.5rem;
    color: #1f3e72;
    font-size: 1.5rem;
    font-weight: bold;
}
.lst-msg-dp2 i {
    padding: 0.5rem;
    color: var(--blue);
    background-color: var(--cool-blue-soft);
    border-radius: 3px;
}
.landing-page3{
    display: flex;
    flex-direction: column;
}
.emergency1{
    display: flex;
    flex-direction: row;
    z-index: 0;
}
.emergency2{
    width: 50%;
    padding-top: 6rem;
    padding-right: 4rem;
    padding-left: 4rem;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
}
.land-msg3{
    font-weight: bold;
    font-size: 2.5rem;
    color: var(--navy-blue);
}
.land-pgph3{
    text-align: left;
    color: var(--grey);
    font-weight: bold;
    font-size: 1rem;
    line-height: 48px;
    width: 55%;
}
.landing-right3{
    width: 50%;
    height: 535px;
    background-color: var(--grad-left);
    justify-content: center;
    position: absolute;
    right: 0;
}
.landing-left3{
    width: 50%;
}
.Doctor3{
    height: 754px;
    position: absolute;
    width:40%;
    z-index: 1;
    top: 201.6rem;
    right: 5.5rem;
}
.squares{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    width: 15rem;
    box-shadow: 1px 1px 5px var(--cool-blue-soft); 
    border-radius: 4px;

}
.squares i{
    padding: 1rem;
    color: var(--blue);
    background-color: var(--cool-blue-soft);
    border-radius: 3px;
    font-size: 1rem;
}
.squares-inside{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}
.squares-inside h3{
    color: #1f3e72;
    font-size: 1.7rem;
    font-weight: bold;
    padding-left: 1rem;
}
.txt-sqr-ins{
    padding-left: 6rem;
    padding-top: 4.5rem;
    font-size: 1rem;
    color: var(--grey);
    position: absolute;
}
.squares-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-white{
    margin:10px;
    padding: 10px 5px;
    border-radius: 8px;
    background-color: var(--cool-blue-soft);
    cursor: pointer;
    color: var(--blue);
    font-size: 1rem;
    font-weight: bold;
    border: none;
}
.btn-blue{
    margin: 10px;
    cursor: pointer;
    padding: 10px 5px;
    border-radius: 8px;
    background-color: var(--blue);
    color: var(--white);
    font-size: 1rem;
    font-weight: bold;
    border: none;
}
.rectangle{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer{
    display: flex;
    flex-direction: row;
    background-color: rgba(232, 232, 247, 0.842);
    height: 410px ;
}
.section-left{
    width: 30%;
    position: relative;
    padding-left: 8.5rem;
    padding-top: 3.5rem;
}
.section-left h3{
    color: var(--blue);
    font-size: 2rem;
    font-weight: bold;
}
.section-left h4{
    padding-top: 3rem;
    color: var(--grey);
    font-size: 1rem;
    font-weight: bold;
}
.section-left p{
    font-size: 1.25rem;
    color: var(--grey);
    font-weight: bold;
    line-height: 48px;
}
.section-right{
    display: flex;
    flex-direction: row;
    right: 0;
    width: 50%;
    position: absolute;
}
.section-right div{
    margin: 3.5rem;
}
.bottom-right{
    display: flex;
    flex-direction: row;
    right: 0;
    top: 18rem;
    position: absolute;
    color: var(--grey);
}
.bottom-right h4{
    margin: 1.5rem;
    cursor: pointer;
}
.column-footer{
    margin: 0.5rem;
}
.column-footer h3{
    color: var(--navy-blue);
    font-size: 1.5rem;
}
.column-footer p{
    color: var(--grey);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.sqr{
    font-size: 0.8rem;
}